@model YurtDb.Models.BasvuruFormu
@{

}




<div class="card text-center shadow-lg p-3 mb-5 bg-white rounded">
    
    <div class="card-body">
        <h2 class="text-success" style="text-align:center">TEBRİKLER BAŞVURUNUZ ALINDI!</h2>

    </div>
    
</div>

